.pages-container {
  width: 800px;
  height: 500px;
  display: flex;
  
  border-radius: 10%;
  margin-bottom: 100px;
}
.page-item {
  background-color: lightslategrey;
  border: 2px solid green;
  padding: 20px;
  font-size: 30px;
  align-items: center;
  width: 50%;
  height: 100%;
  border-radius: 10%;
}
.task-bar {
  background-color: lightslategrey;
  display:inline-flex;
  width: 100%;
  height: 3.5%;
}
.left-button {
  float: left;
  font-family: Arial, Helvetica, sans-serif;
  background-color: white;
}
.right-button {
  float: right;
  font-family: Arial, Helvetica, sans-serif;
  background-color: white;
}
.save-button {
  float: right;
  font-family: Arial, Helvetica, sans-serif;
  background-color: green;
}
.page-content {
  margin-top: 25px;
  width: 100%;
  height: 90%;
  background-color: lightslategrey;
  align-items: center;
  align-content: center;
  border-radius: 10%;
}
.page-image {
  width: 100%;
  height: 80%;
  background-color: white;
  border-radius: 10%;
}

.page-image2 {
  width: 100%;
  height: 80%;
  background-color: white;
  border-radius: 10%;
}

.title {
  width: 20%;
  height: 5%;
  display: flex;
  margin-bottom: 10px;
  font-size: large;
  font-family: Arial, Helvetica, sans-serif;
}
.page-title {
  width: 100%;
  height: 40px;
  align-items: center;
  text-align-last: center;
  background-color: green;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 30%;
}
.link-button-container {
  width: 100%;
  height: 20px;
  align-items: center;
}
.link-button {
  align-items: center;
  text-align-last: center;
  display: flex;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  background-color: green;
}

.form-box {
  /* margin-left: 200px; */
  margin-top: 50px;
  width: 400px;
  height: 80px;
  border: 2px solid green;
  background-color: lightslategrey;
  border-radius: 1%;
  /* display: flex; */
  align-content: center;
  align-items: center;
}

.forms {
  width: 100%;
  height: 100%;
  align-self: center;
  vertical-align: middle;
  position: relative;
  
}

.forms2 {
  width: 165px;
  height: 200%;
  font-size:15px
  
  
  
  
}
.form-title {
  width: 100%;
  height: 40px;
  position: relative;
  text-align-last: center;
  font-size: x-large;
  font-family: Arial, Helvetica, sans-serif;
  /* float: bottom; */
}
.spacer {
  height: 200px;
}
.outer-text {
  margin-top: 100px;
  padding-bottom: 100px;
  /* text-align-last: center; */

  font-size: xx-large;
}
.center {
  
  
  
  
 
}
.spacer2 {
  
}
.landing-page{
  background-color: rgb(216, 175, 99);
}

.landing-title{
  font-size: 1000%;
  /* width: 60%; */
  text-align: center;
  padding: 10px;
  margin: auto;
  font-family: Arial, Helvetica, sans-serif;
  

}
.documentation {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: xx-large;
  margin: auto;
  width: 60%;

}

.explanation-block {
  margin-top: 150px;
  text-align: center;
  font-size: x-large;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 150px;
}
.code {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: thistle;
  font-size: large;
  
}
.landing-sub-title{
  font-size: 300%;
  /* width: 50%; */
  padding: 10px;
  margin: auto;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  

}
.showcase{
  margin-top: 100px;
  display: flex;
  justify-content: center;
}
.showcasedsandbox{
  margin-top: 100px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.apitable {
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
}
.field-top{
  background-color: green;
  width: 1220px;
  height: 500px;
  color: black;
  text-shadow: azure;
  
  font-size: xx-large;
  font-family: Arial, Helvetica, sans-serif;
}

.field{
  background-color: green;
  width: 1220px;
  height: 220px;
  
  
  /* display: flex; */
  position:relative;
  
}


.front {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  
  position: relative;

  
}
.mid-back {
  margin-top: 10px;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  position: relative;

  
}


.player{
  background-color:black;
  color: white;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  align-self:stretch;
  margin: 5px;
  text-align: center;
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
}


.sandbox {
  background-color:lightslategrey;
  width: 1220px;
  height: 235px;
  display: flex;
  margin-top: 20px;
}


.field-top-large{
  background-color: green;
  width: 854px;
  height: 350px;
  color: black;
  font-size: xx-large;
  font-family: Arial, Helvetica, sans-serif;
}

.field-large{
  background-color: green;
  width: 854px;
  height: 161px;
  
  
  /* display: flex; */
  position:relative;
  
}


.front-large {
  width: 100%;
  height: 35px;
  display: flex;
  justify-content: center;
  
  position: relative;

  
}
.mid-back-large {
  margin-top: 10px;
  width: 100%;
  height: 35px;
  display: flex;
  justify-content: center;
  position: relative;

  
}


.player-large{
  background-color:black;
  color: white;
  border-radius: 50%;
  height: 35px;
  width: 35px;
  align-self:stretch;
  margin: 5px;
  text-align: center;
  position: relative;
  font-size: x-small;
  font-display:initial;
  font-family:Arial, Helvetica, sans-serif;

}
.lte{

}

.sandbox-large {
  background-color:lightslategrey;
  /* width: 854px; */
  
  /* height: 235px; */
  
  display: flex;
  
}












@keyframes straight-deep{
  0% {
    transform: translateY(0)
  }
  100% {
    transform: translateY(-600px)
  }
}
